ipl-analysis-adf/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ipl-analysis-adf"
		},
		"ipl_load_pipeline_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0915-191217-jckbtnyt"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ipl_load_pipeline')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "ipl_load_pipeline",
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-2185313560766934.14.azuredatabricks.net",
					"authentication": "MSI",
					"workspaceResourceId": "/subscriptions/3eba4130-4cee-450d-95d2-8a7b3ac68937/resourceGroups/azure-databricks-rg/providers/Microsoft.Databricks/workspaces/azure-databricks-ws",
					"existingClusterId": "[parameters('ipl_load_pipeline_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ipl-data-pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ipl-process",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/duraishanmugaraj.r@gmail.com/ipl-analysis-azure-databricks/process_load",
							"baseParameters": {
								"year": {
									"value": "@pipeline().parameters.adf_year",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ipl_load_pipeline",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ipl-presentation",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "ipl-process",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/duraishanmugaraj.r@gmail.com/ipl-analysis-azure-databricks/presentation_load",
							"baseParameters": {
								"year": {
									"value": "@pipeline().parameters.adf_year",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ipl_load_pipeline",
							"type": "LinkedServiceReference"
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"adf_year": {
						"type": "string",
						"defaultValue": "2008"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ipl_load_pipeline')]"
			]
		}
	]
}